
/* GLOBAL STYLES
-------------------------------------------------- */
body {
  padding-top: 1rem;
  padding-bottom: 3rem;
  background-color: rgb(196, 217, 245);
}



#nav-logo {
  font-family: 'Yeseva One', cursive;
}

.nav-item {
  font-family: 'Montserrat', sans-serif;
  weight: 400;
}


footer {
    width:100%;
    height: 4rem;
    margin-top: 1rem;
    padding: 2rem;
}

/* home page css */

#home-jumbotron {
  font-family: 'Yeseva One', cursive;
}

#home-j-text {
  font-family: 'Montserrat', sans-serif;
  weight: 400;
}

#home-featurettess {
  font-family: 'Montserrat', sans-serif;
  weight: 400;
}






/* start of products page css 
---------------------------------------------------*/

/* CUSTOMIZE THE CAROUSEL */

/* Carousel base class */
.carousel {
    margin-bottom: 4rem;
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }
  
  /* Declare heights because of positioning of img element */
  .carousel-item {
    height: 32rem;
  }
  .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
  }
  @media (min-width: 768px) {
    .flex-md-equal > * {
      flex: 1;
    }
  }  




  /* team page - css */
  
  /* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
/* rtl:end:ignore */


.featurette {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.meet-team {
  border-bottom: black;
}


/*----------- about page -------------*/
@media (min-width: 768px) {
  .column-count-md-2 {column-count: 2;}
}





  